# Files
snippet class
	<?php

	namespace ${1};

	class ${2}
	{
		${3://}
	}

# Methods
snippet pubf
	public function ${1}(${2:})
	{
		${3://}
	}

snippet prof
	protected function ${1}(${2:})
	{
		${3://}
	}

snippet prif
	private function ${1}(${2:})
	{
		${3://}
	}

#properties
snippet pubp
	/** @var ${2} */
	public $${1};

snippet prop
	/** @var ${2} */
	protected  $${1};

snippet prip
	/** @var ${2} */
	private  $${1};

# Vars
snippet $
	$this->${1}
